ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  padding: 1em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.toggle {
  border: none;
  background: transparent;
  font-size: 20px;
}

/* 모바일 */
@media (max-width: 500px) {
  .nav-header {
    display: flex;
    align-items: center;
  }

  .nav-header h1 {
    margin-right: auto;
  }

  .sns {
    display: none;
  }

  .links li {
    padding: 5px;
    transition-duration: 0.5s;
  }
  .links li:hover {
    background: rgb(151, 196, 240);
  }

  .link-container {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }

  .link-container.show {
    max-height: 20em;
  }
}

/* PC */
@media (min-width: 501px) {
  nav {
    display: flex;
    align-items: center;
  }

  .toggle {
    display: none;
  }

  .nav-header {
    margin-right: auto;
  }

  .link-container {
    display: flex;
  }

  .links {
    display: flex;
  }

  .links li {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .sns {
    display: flex;
    margin-left: 1em;
  }
  .sns li {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
  }

}